<div class="panel panel-default">
<div class="panel-body">
<table width="100%" class="table table-striped">
  <tbody>
    {{#each game in games}}
    <tr>
      <td><img {{ bind-attr src=game.home_team.logo_url}} width="25px" height="25px" alt=""/></td>
      <td>{{game.home_score}}:{{game.away_score}}</td>
      <td><img {{ bind-attr src=game.away_team.logo_url}} width="25px" height="25px" alt=""/></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>
